<section>
  <h1>About Me (Brief)</h1>
  <a href="http://stackexchange.com/users/3841408/gnu-supporter">
    <img src="/images/flair.png" width="208" height="58"
    alt="profile for GNU Supporter on Stack Exchange, a network of
    free, community-driven Q&amp;A sites" title="profile for GNU
    Supporter on Stack Exchange, a network of free, community-driven
    Q&amp;A sites" /></a>
  <p><a href="/about">Here</a>'s a more detailed version.</p>
  <ol>
    <li>A free software supporter</li>
    <li>A GNU/Linux user</li>
    <li>Love text editing in Vim</li>
    <li>Enjoy writing in Markdown</li>
  </ol>
</section>
