<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>

<!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
<script type="text/javascript"
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/javascript" src="/javascripts/MathJaxLocal.js">
</script>

<!-- START COPYING HERE -->
<link rel="stylesheet" href="/stylesheets/gh-fork-ribbon.css">
<!--[if lt IE 9]>
  <link rel="stylesheet" href="/stylesheets/gh-fork-ribbon.ie.css">
<![endif]-->
<!-- END COPYING HERE -->

<!-- Blog Ownership Verification for Bing Webmaster -->
<meta name="msvalidate.01" content="E421C0320103717D8EB0AD1FEC67709D" />

<!-- table css -->
<link href="/stylesheets/data-table.css" media="screen, projection" rel="stylesheet" type="text/css" />

<!-- Add fancyBox -->
<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('.entry-content').each(function(i){
      var _i = i;
      $(this).find('img.fancybox').each(function(){
	var img = $(this);
	var title = img.attr("title");
	var classes = img.attr("class");
	img.removeAttr("class");
	img.wrap('<a href="'+this.src+'" class="' + classes + '" rel="gallery'+_i+'" />');
	if (title != "")
	{
	img.parent().attr("title", title);
	}
	});
      });
    $(".fancybox").fancybox();

    $('.fancybox-media')
    .attr('rel', 'media-gallery')
    .fancybox({
      openEffect : 'none',
      closeEffect : 'none',
      prevEffect : 'none',
      nextEffect : 'none',

      arrows : false,
      helpers : {
      media : {},
      buttons : {}
    }
    });
    });
</script>

<!-- vim:set sw=2: -->
