<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>

<!-- mathjax config similar to math.stackexchange -->
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] } 
});
</script>

<!-- START COPYING HERE -->
<link rel="stylesheet" href="/stylesheets/gh-fork-ribbon.css">
<!--[if lt IE 9]>
  <link rel="stylesheet" href="/stylesheets/gh-fork-ribbon.ie.css">
<![endif]-->
<!-- END COPYING HERE -->

<!-- Blog Ownership Verification for Bing Webmaster -->
<meta name="msvalidate.01" content="E421C0320103717D8EB0AD1FEC67709D" />

<!-- vim:set sw=2: -->
