{% capture category %}{{ post.categories | size }}{% endcapture %}
{% if post.external-url %}
    <h1><a class="external" href="{{ post.external-url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a> {{ site.linklog_marker }}</h1>
{% else %}
    <h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
{% endif %}
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
{% if post.external-url or category != '0' %}
  <footer>
    {% if post.external-url %}
      <a rel="bookmark" href="{{ root_url }}{{ post.url }}" title="Permalink">{{ site.permalink_label }}</a>
    {% endif %}
    {% if category != '0' %}
      {% if post.external-url %} &bull; {% endif %}
      <span class="categories">posted in {{ post.categories | category_links }}</span>
    {% endif %}
  </footer>
{% endif %}
