@import "mixins";

nav {
  display: none;
}

aside {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

h1.entry-title {
  border-top: 1px solid black !important;
  margin-top: 1em;
  padding-top: 1em;
}

h1.blog-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

h2.blog-subtitle {
  width: 100%;
  text-align: right;
  font-style: italic;
  padding-top: 0;
  margin-top: 0;
}

.disqus-script {
  display: none !important;
}

div.sharing {
  // Hide sharing buttons
  display: none !important;
}

#dsq-content {
  display: none !important;
}

a.basic-alignment {
  // Hide links for prev/next posts
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.nopr {
  display: none;
}

.github-fork-ribbon-wrapper {
  display: none !important;
}
