@import "colors";

.print {
    display: none;
}

.caption {
    font-style: italic;
    font-size: 90% !important;
    text-align: center;
    @include centered(100%);
}

div.imgpopup {
    border: 1px solid $base2;
    @include rounded-border(10px);
    @include centered(60%);
    margin: 10px;
    text-align: center;
    .caption {
	margin: 0 !important;
    }
}
