@import "colors";
@import "mixins";

.print {
  display: none;
}

img {
  max-width: 100%;
}

img.nobd {
  @include no-shadow-box(0 !important, none !important, 0 !important);
}

.noscr, div.noscr {
  display: none;
}
