// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "mixins";

pre {
  &.cli{
    background-color: $base03;
    color: $base2;
  }

  code {
    &.UBMono{
      font-family: 'Ubuntu Mono';
      font-weight: 400;
      font-size: 12pt;
    }
  }
}

span {
  &.vimErr{
    background-color: $solar-red;
    color: $base3;
    font-weight: 700;
  }

  &.vimErrCont, &.rake_gen_identical{
    color: $solar-green;
  }

  &.rake_gen_unchanged{
    color: $solar-orange;
  }

  &.UBHLCode{
    font-weight:700;
  }

  &.HLCode{
    font-weight:bold;
  }

  &.err,&.grp1,&.gitM {
    color: $solar-red;
  }

  &.grp2 {
    color: $solar-blue;
  }

  &.gitP {
    color: $solar-green;
  }

  &.gitA {
    color: $solar-cyan;
  }
}

// Expr
p, li {
  pre {
    code {
      font-size: 12pt !important;
      color: $base2;
    }
  }
}

// vi:sw=2
